version: '3'
services:
  react-app-web:
    image: my-react-app-image:v1.0
    container_name: my-react-frontend-container
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports: 
      - 3000:3000
    volumes:
      - /app/node_modules
      - .:/app

  # New container to run some test
  react-run-test:
    container_name: my-react-run-test-container
    build:
        context: .
        dockerfile: Dockerfile.dev
    volumes:
      - /app/node_modules
      - .:/app
    command: ["npm", "run", "test"]

# To run the docker-compose.yaml file just run this command line: 
# docker compose up

# To finish the components created by docker compose up just add this command line
# docker compose down

# To run new build again the docker compose for any change add this command line
# docker compose up --build