version: '3'
services:
  react-app-web:
    image: my-react-app-image:v1.0
    container_name: my-react-frontend-container
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports: 
      - 3000:3000
    volumes:
      - /app/node_modules
      - .:/app


# To run the docker-compose.yaml file just run this command line: 
# docker compose up